<div class="container">
  <div class="header1">
    <fieldset class="form-group">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    </fieldset>
    SKU: $sku Title: $title
  </div>
  <div class="nav1">Images
    <div class="gallery">
      <div class="img1">$imagesrc1</div>
      <div class="img2">$imagesrc2</div>
      <div class="img3">$imagesrc3</div>
      <div class="img4">$imagesrc4</div>
      <div class="img5">$imagesrc5</div>
      <div class="img6">$imagesrc6</div>
      <div class="img7">$imagesrc7</div>
      <div class="img8">$imagesrc8</div>
      <div class="img9">$imagesrc9</div>
      <div class="img10">$imagesrc10</div>
    </div>
  </div>
  <div class="main1">
    <textarea id="desc" name="desc">$desc</textarea>
    <ul>
      <li><input id="b1" type="text" value="$bullet1"></li>
      <li><input id="b2" type="text" value="$bullet2"></li>
      <li><input id="b3" type="text" value="$bullet3"></li>
      <li><input id="b4" type="text" value="$bullet4"></li>
      <li><input id="b5" type="text" value="$bullet5"></li>
    </ul>
    <textarea id="keywords" name="keywords">$keywords</textarea>
    <p>Weight:&nbsp;$weight&nbsp;oz</p>
    <p>Dims:&nbsp;L:&nbsp;$f24&nbsp;$f25 W:&nbsp;$f26&nbsp;$f27 H:&nbsp;$f28&nbsp;$f29</p>
    <p>Feed:&nbsp;$feedtype Item:&nbsp;$itemtype </p>
    <p>Theme:&nbsp;$vartheme Parent:&nbsp;$parent Size:&nbsp;$size Color:&nbsp;$color</p>
    <p>Material:&nbsp;$material Shipping&nbsp;Template:&nbsp;$shippingtemplate</p>
  </div>
  <div class="footer1">
    Price:&nbsp;$$price
    List&nbsp;Price:&nbsp;$$listprice
    $qty&nbsp;in&nbsp;stock
  </div>
  <div class="overlay"></div>
</div>